@use '../../../../styles/palette.scss' as palette;

:host {
  width: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;

    display: flex;

    transition: fill .3s ease-in-out;
  }

  &.fill {
    @each $palette-name, $palette in palette.$palettes {
      &-#{$palette-name} {
        @if type-of($palette) == 'map' {
          @each $num, $color in $palette {
            &-#{$num} {
              svg { fill: $color; }

              &-hover:hover svg { fill: $color; }
            }
          }
        } @else {
          svg { fill: $palette; }

          &-hover:hover svg { fill: $palette; }
        }
      }
    }
  }
}
