@use './palette.scss' as palette;

@mixin export($style-name, $style) {
  #{$style-name}: $style;
  * { #{$style-name}: $style; }
}

span.spacer {
  display: flex;
  flex: 1 1 auto;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

button.btn-directive {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: .5rem 1rem;
  border: 2px solid;
  border-radius: .5rem;

  transition: all .3s ease-in-out;

  cursor: pointer;

  i.mat-ico {
    transition: color .3s ease-in-out;
  }

  &-outline {
    @extend .btn-directive;

    background-color: transparent;
  }

  &.disabled {
    opacity: .25;
  }
}
