<button
  (click)="onClick()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  class="menu mat-ico {{ menu.status ? 'open' : '' }}"
>
  {{ menu.status ? "close" : "menu" }}
</button>

<nav
  class="container {{ isHome ? 'isHome' : 'isNotHome' }} {{
    menu.status ? 'open' : ''
  }}"
>
  <div
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    class="nav-content"
  >
    <app-nav-option> ASSOTR.AM </app-nav-option>

    <span class="spacer"></span>

    <app-nav-option> SOBRE </app-nav-option>
    <app-nav-option> TRABALHOS </app-nav-option>
    <app-nav-option> COLABORADORES </app-nav-option>
    <app-nav-option> CONTATO </app-nav-option>
  </div>

  <div class="nav-content not-home">
    <app-nav-option route="/" ico="arrow_back_ios"> ASSOTR.AM </app-nav-option>

    <span class="spacer"></span>

    <app-nav-option> TRABALHOS </app-nav-option>

    <app-nav-option> CONTATO </app-nav-option>
  </div>
</nav>
